
body{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	background: #f0f5f5;
}

#header{
	background: #b3ffb3;
	width: 100%;
	height:  90px;
}

#headerLogo{
	height:  80px;
	width: 700px;
	margin-left: 10px;
}

#left{
	width: 120px;
	height: 120px;
	float: left;
	background: #d6d6c2;
	margin-left: 50px;
	margin-top: 30px;
}
#left-logo{
	width: 120px;
	height: 120px;

}	
#eam1{
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
}

.modal-dialog{
	width: 500px;
	float: left;
	margin-left: 50px;
}

.right{
	width: 500px;
	height: 50px;
	margin-left: 20px;
	margin-top: 30px;
	font-weight: normal;
}


#footer{
	height: 30px;
	width: 100%;
	float: left;
	background: #b3ffb3;
	font-family: 'Poiret One', cursive;
	text-align: center;
	margin-top: 70px;
}


